In [ ]:
#Idee: Jeder Lebenslauf erhält ein paar Skills und Berufserfahrungen. 
# Jeder Lebenslauf hat eine eindeutige ID. 
# Jede ID wird gruppiert und bekommt ein Label zb 0 gut 1 schlecht
#damit trainieren und später testen

#machen das für eine Stelle zb Programmierer oder so

In [3]:
import pandas as pd

CV mit Labels 0 geeignet

In [16]:

df=pd.DataFrame(columns=[ 'CV', 'Label'])
with open("data/Lebenslauf1.txt", 'r') as file:
    content = file.read()
    df['CV'] = [content]
    df['Label'] = [0]

with open("data/Lebenslauf2.txt", 'r') as file: 
    content = file.read()
    df = df.append({'CV': content, 'Label': 0}, ignore_index=True)     
    
with open("data/Lebenslauf3.txt", 'r') as file:     
    content = file.read()
    df = df.append({'CV': content, 'Label': 0}, ignore_index=True)
df

C:\Users\anigu\AppData\Local\Temp\ipykernel_37400\2989992387.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'CV': content, 'Label': 0}, ignore_index=True)
C:\Users\anigu\AppData\Local\Temp\ipykernel_37400\2989992387.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'CV': content, 'Label': 0}, ignore_index=True)

                                                  CV  Label
0  Profil:\n•\tGesamt: 10+ Jahre Berufserfahrung ...      0
1  •\tGesamt: 8+ Jahre Berufserfahrung in der Sof...      0
2  Berufliches Profil:\n•\tBerufsziel: Softwareen...      0

In [17]:
lebenslaufe = pd.DataFrame({'Skills': skills[:5], 'Berufserfahrung': berufserfahrung})

NameError: name 'skills' is not defined