In [3]:
#Idee: Jeder Lebenslauf erhält ein paar Skills und Berufserfahrungen. 
# Jeder Lebenslauf hat eine eindeutige ID. 
# Jede ID wird gruppiert und bekommt ein Label zb 0 gut 1 schlecht
#damit trainieren und später testen

#machen das für eine Stelle zb Programmierer oder so

In [4]:
import pandas as pd
import numpy as np

CV mit Labels 0 geeignet


df=pd.DataFrame(columns=[ 'CV', 'Label'])
with open("data/Lebenslauf1.txt", 'r') as file:
    content = file.read()
    df['CV'] = [content]
    df['Label'] = [0]

with open("data/Lebenslauf2.txt", 'r') as file: 
    content = file.read()
    df = df.append({'CV': content, 'Label': 0}, ignore_index=True)     
    
with open("data/Lebenslauf3.txt", 'r') as file:     
    content = file.read()
    df = df.append({'CV': content, 'Label': 0}, ignore_index=True)
df

In [5]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [7]:
df= pd.read_csv('UpdatedResumeDataSet.csv')
df.head()

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...